<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>HOME - PAGE</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <!-- NOTE : It is not mandatory to used .ejs extension when we include -->
    <%- include('./partials/script') %>
  </body>
</html>
